:root {
    --bs-body-font-family: 'Montserrat', sans-serif;
}

html, body{min-height:100%;}

.dropdown-item:hover {
    background-color: #3c9da0;
}

ul {
    list-style-type: disc !important;
    padding-left: 1em;
}

.home__video {
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    transform: translateX(-50%) translateY(-50%);
    z-index: -5;
}

.home__overlay {
    position: fixed;
    left: 0;
    top: 0;
    height: 100vh;
    width: 100vw;
    background-color: black;
    opacity: 0.4;
    z-index: -2;
}

.select_divider {
	font-size: 1px;
	background: rgb(0, 0, 0);
}

.oceangramheader{
    position:absolute;
    height:550px;
    width:auto;
    z-index:2;    
}

.oceangram{
    position:relative;
    height:560px;
    width:auto;
    z-index:0;
}

@media (max-width: 992px){
    .oceangramheader{
        height: 280px;
    }
    .oceangram{
        height: 290px;
    }
}
